__pycache__
MISC
TEMP
UNDERGRAD
MBA
*.mp3
wandb
MISC_TRANSCRIPTS
TEMP_TRANSCRIPTS
UNDERGRAD_TRANSCRIPTS
MBA_TRANSCRIPTS
SLIDES
*.log
notebooks/Testpdfs
.env
ad-project
wandb
AD-DB-LARGE
AD-DB-SMALL
AD-DB-NOMIC-v1
AD-DB-MXBAI
distilgpt2-ad-test
dspy-env
.DS_STORE