chromadb==0.4.24
dspy_ai==2.4.0
Flask==3.0.2
flask_cors==4.0.0
langchain==0.1.13
llama_index==0.10.23
openai==1.14.2
pandas==2.2.1
python-dotenv==1.0.1
rerankers==0.1.2
SQLAlchemy==2.0.28
torch==2.2.1+cu118
tqdm==4.66.2
transformers==4.39.0
